# Laravel
/backend/vendor/
backend/.env
backend/public/build/
backend/storage/*.key
/backend/bootstrap/cache/*.php

# Next.js
/frontend/node_modules/
/frontend/.next/
/frontend/out/
/frontend/.env*.local

# General
.DS_Store
*.log
.env
.phpunit.result.cache
